<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Clothing Items</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 class="subheader"">All of your clothing items!</h1>
    <br>
    <table>
        <tr>
            <th>Item Name</th>
            <th>Wardrobe</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Color</th>
            <th>Action</th>
        </tr>

        {% for row in rows %}
        <tr>
            <td> {{ row["item_name"]}} </td>
            <td> {{ row["wardrobe_name"]}} </td>
            <td> {{ row["category_name"]}} </td>
            <td> {{ row["brand_name"]}} </td>
            <td> {{ row["color_name"]}} </td>
            <td>
                <a href="{{ url_for('moveItem', item_id = row["item_id"]) }}">Move</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>