<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Outfits</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 class="subheader">All of your outfits!</h1>

    {% for row in outfit_names %}
    <div>
        <h4>{{ row['outfit_name'] }}</h4>
        <ul>
            {% for entry in all_entries %}
                {% if entry['outfit_name'] == row['outfit_name'] %}
                <li>
                    {{ entry['item_name'] }} 
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</body>
</html>