<!DOCTYPE html>
<html>
<head>
    <title>Add an item of clothing!</title>
</head>
<body>
    <h2>Enter clothing item information</h2>

    <form method="POST">
        {{ form.hidden_tag() }}

        <p>
            {{ form.item_name.label }}
            {{ form.item_name(size=40) }}
        </p>

        <p>
            {{ form.wardrobe_name.label }}
            {{ form.wardrobe_name(size=40) }}
        </p>

        <p>
            {{ form.category_name.label }}
            {{ form.category_name(size=40) }}
        </p>

        <p>
            {{ form.brand_name.label }}
            {{ form.brand_name(size=40) }}
        </p>

        <p>
            {{ form.color_name.label }}
            {{ form.color_name(size=40) }}
        </p>

        <p>{{ form.submit() }}</p>
    </form>

</body>
</html>