<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to your clothing headquarters!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h3 class="subheader"> Add to your collection! </h3>
    <a href="{{ url_for('addItem') }}"> Add Item </a> <br>
    <a href="{{ url_for('addWardrobe')}}"> Add Wardrobe </a> <br>
    <a href="{{ url_for('createOutfit')}}">Create Outfit</a> <br>

    <h3 class="subheader"> Take a peek at what you have! </h3>
    <a href="{{ url_for('allItems')}}"> View All Items </a> <br>
    <a href="{{ url_for('allOutfits')}}">View All Outfits</a> <br>
    <br>

    <a href="{{ url_for('logout')}}">Logout</a>
</body>
</html>