<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2 class="subheader">Login/Sign up</h2>
    <form method="POST">
        {{ form.hidden_tag() }}

        <div>
            {{ form.username.label }} <br>
            {{ form.username() }}
        </div>

        <div>
            {{ form.password.label }} <br>
            {{ form.password() }}
        </div>

        <div>
            {{ form.submit() }}
        </div>

        <p> If you do not have an account, one will be created for you! </p>
    </form>
</body>
</html>