<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Outfit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2 class="subheader">Create your new outfit!</h2>
    <form method="POST">
        {{ form.hidden_tag() }}

        <p>
            {{ form.outfit_name.label }}
            {{ form.outfit_name() }}
        </p>

        <p>
            {{ form.items.label }} <br>
            {{ form.items() }} <br>

            <small>hold CTRL/CMD to select multiple items</small>
        </p>

        <p>{{ form.submit() }}</p>
    </form>

</body>
</html>