<!DOCTYPE html>
<html>
<head>
    <title>Set Operations</title>
</head>
<body>
    <h1>Set Operations</h1>
    <ul>
        <li><a href="{{ url_for('union') }}">Union Operation</a></li> 
    </ul>
    <ul>
        <li><a href="{{ url_for('intersection') }}">Intersect Operation</a></li> 
    </ul>
    <ul>
        <li><a href="{{ url_for('difference') }}">Difference(Except) Operation</a></li> 
    </ul>
    <ul>
        <li><a href="{{ url_for('division') }}">Division Operation</a></li> 
    </ul>

</body>
</html>